<html>
	<head></head>

	<body>
		<header>
            <div id="top">
                <div class="logo"></div>
                <div class="edited">
                    <a href="https://handddle.com" target="_blank">https://handddle.com</a>
                    <span class="mini">Edited: {{general.generation_date}}</span>
                </div>
            </div>

			<h1>{{task.name}}</h1>
			<h3><span class="miniblock">Job ID: {{task.short_code}}</span></h3>
		</header>

        <div class="content">

            <div class="block">
                <h2>Job details</h2>

                <table class="table--compact">
                    <tr>
                        <td>Name</td>
                        <td><div>{{task.name}}</div></td>
                    </tr>
                    <tr>
                        <td>Created by</td>
                        <td><div>{{task.created_by}}</div></td>
                    </tr>
                    <tr>
                        <td>Start date</td>
                        <td><div>{{task.start_date}}</div></td>
                    </tr>
                    <tr>
                        <td>End date</td>
                        <td><div>{{task.end_date}}</div></td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td><div>{{task.duration}}</div></td>
                    </tr>
                </table>
            </div>

            <div class="block">
                <h2>Production details</h2>

                <table class="table--compact">
                    <tr>
                        <td>Printer</td>
                        <td><div>{{printer.name}}</div></td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td><div>{{resources.html_content}}</div></td>
                    </tr>
                </table>
            </div>

            <div class="clear-both"></div>

            <div class="block">
                <h2>Job parts</h2>

                <table>
                    <tr>
                        <th style="width:20%;">ID</th>
                        <th style="width:50%;">Name</th>
                        <th style="width:15%;">Format</th>
                        <th style="width:15%">Copies</th>
                    </tr>
                    {{repeated_part[pieces_list][
                        <tr>
                            <td>{{piece.short_code}}</td>
                            <td>{{piece.name}}</td>
                            <td>{{piece.format}}</td>
                            <td>{{piece.copies}}</td>
                        </tr>
                    ]}}
                </table>
            </div>

            <div class="block">
                <h2>Production events</h2>

                <table>
                    <tr>
                        <th style="width:30%;">Date</th>
                        <th style="width:30%;">By</th>
                        <th style="width:40%;">Action</th>
                    </tr>
                    {{repeated_part[events][
                        <tr>
                            <td>{{event.date}}</td>
                            <td>{{event.by}}</td>
                            <td>{{event.action}}</td>
                        </tr>
                    ]}}
                </table>
            </div>

        </div>

	</body>

</html>
